html, body {
    background-image: url('../image/wallpaperbetter.jpg');
    background-size: cover; 
    margin: 0;
    padding: 0;
   
  }
  
  
  .logo img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px; 
    left: 0px; 
  }
  
  .navbar {
    background-color: #33333351;
    overflow: hidden;
    margin-top: 40px; 
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: rgb(7, 225, 47);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #ddd;
    color: #333;
  }
  
  .info {
    /* kode ini bermasalah */
    text-align: center;
    
    margin: 0;
    color: orange;
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%); 
    /* width: 50%; */
    padding: 148px 0; 
  }
  
  
  
  
  
  
  .username label,
  .password label
   {
      font-weight: bold;
      color: orange;
  }
  .username input[type="text"],
  .password input[type="password"]
  
   {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-sizing: border-box;
    width: 50%; 
    background-color: rgba(7, 225, 47, 0.115); 
    color: rgb(255, 255, 255);
  }
  
  
  
  
  
  
  .form {
    position: relative; 
    z-index: 1; 
    text-align: center;
    color: #fff;
    padding: 20px;
  }
  
  
  .video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  #bg-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: -1;
  }
  
  
  /* .content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    padding: 20px;
  } */
  
  
  input[type="submit"] {
    background-color: orange;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px; 
    width: 50%; 
    margin-top: 15px;
    display: block; 
    margin: 0 auto; 
    text-align: center; 
  }